.requestListItem {
  
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  padding: 16px 20px;
  border-radius: 6px;
  margin: 6px 0px;
}

.info {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}

.nameAndEmail {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.url {
  word-wrap: break-word;
  font-weight: bold;
}

.status {
  /* Container for right-side action */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: end;
  background: transparent;
  padding: 0;
  margin: 0;
}

.name {
  font-size: 18px;
  font-weight: bold;
  padding-right: 5px;
  
}

.email {
  font-size: 18px;
  padding-left: 5px;
}